<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.truck.dao.LogDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.td.truck.model.Log">
        <id column="fid" property="id" />
        <result column="faction" property="action" />
        <result column="fdata" property="data" />
        <result column="fuser_id" property="userId" />
        <result column="fip" property="ip" />
        <result column="fcreate_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid AS id, faction AS action, fdata AS data, fuser_id AS userId, fip AS ip, fcreate_time AS createTime
    </sql>

</mapper>
