<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.truck.dao.PersistentLoginsDao">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.td.truck.model.PersistentLogins">
		<id column="series" property="series" />
		<result column="last_used" property="lastUsed" />
		<result column="token" property="token" />
		<result column="username" property="username" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        series, last_used AS lastUsed, token, username
    </sql>

</mapper>
