<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<div th:replace="/admin/layout/header :: header"></div>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="/admin/layout/topbar :: topbar"></div>
    <div th:replace="/admin/layout/sidebar :: sidebar"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!--<div th:replace="/admin/layout/content :: content"></div>-->
                <div layout:fragment="content"></div>
                <div th:replace="/admin/layout/footer :: footer"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>