<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<div th:replace="/admin/layout/header :: header"></div>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="/admin/layout/topbar :: topbar"></div>
    <div th:replace="/admin/layout/sidebar :: sidebar"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!--<div th:replace="/admin/layout/content :: content"></div>-->
                <div layout:fragment="content"></div>
                <div th:replace="/admin/layout/footer :: footer"></div>
            </div>
        </div>
        <script th:src="@{/admin/plugins/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/admin/plugins/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script th:src="@{/admin/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
        <script th:src="@{/admin/js/jquery.app.js}"></script>
        <script th:src="@{/admin/js/base.js}"></script>
</body>
</html>