<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <title>error</title>
</head>
<body>
<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>404!</h1>
        <h2>很抱歉，没有找到这个页面！</h2>
        <br/>
        <a class="btn btn-purple waves-effect waves-light" th:href="@{/}"><i class="fa fa-angle-left"></i> 返回首页</a>
    </div>
</div>
</body>
</html>