<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">后台管理</title>
    <!--引入必须的CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/h-ui.admin/css/style.css}" />

    <script th:inline="javascript">
        var basepath = /*[[${#httpServletRequest.getContextPath()}]]*/ "/";

    </script>

</head>
<body>
<!--这里相当于定义了一个父模板  th:replace 标注的模块不能被替换。
替换内容是 layout:fragment  这个只能用作不写JS的页面。
-->


<!--需要替换的部分使用 layout:fragment=""-->
<article class="cl pd-20" layout:fragment="content"></article>


<!--模板必须依赖的js-->

<script type="text/javascript" th:src="@{/ui/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/ui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/ui/static/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/ui/static/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/scripts/public/public.js}"></script>


<div  layout:fragment="footerjs">
<!--这里用来扩展自己写的js-->
</div>

</body>
</html>
